@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use 'sass:color';

.btn {
  @include button-base;
}

/* Size variants */
.btn-small {
  @include button-size($spacing-sm, $spacing-md, $font-size-sm);
}

.btn-medium {
  @include button-size(12px, $spacing-lg, $font-size-base);
}

.btn-large {
  @include button-size($spacing-md, $spacing-xl, $font-size-lg);
}

/* Primary variant */
.btn-primary {
  background-color: $primary-color;
  color: white;

  &:hover:not(.btn-disabled) {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }

  &:active:not(.btn-disabled) {
    background-color: color.adjust($primary-color, $lightness: -20%);
  }
}

/* Secondary variant */
.btn-secondary {
  background-color: $secondary-color;
  color: white;

  &:hover:not(.btn-disabled) {
    background-color: color.adjust($secondary-color, $lightness: -10%);
  }

  &:active:not(.btn-disabled) {
    background-color: color.adjust($secondary-color, $lightness: -20%);
  }
}

/* Outline variant */
.btn-outline {
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;

  &:hover:not(.btn-disabled) {
    background-color: color.adjust($primary-color, $lightness: 45%);
  }

  &:active:not(.btn-disabled) {
    background-color: color.adjust($primary-color, $lightness: 35%);
  }
}

/* Disabled state */
.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Focus styles for accessibility */
.btn {
  @include focus-visible;
}